body {
  font-family: Microsoft Tai Le;
  margin: 0;
  padding: 0;
}

.load{
  animation: slide 1s;
}

.slider{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  animation: slide 20s infinite;
}

.content{
  color: #fff;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
}

.principle{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  letter-spacing: 5px;
  text-align: center;
}

.principle h1{
  font-size: 70px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 5px;
}

.principle p{
  font-size: 22px;
}

.principle a{
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

.dropdown .dropbtn:hover{
  color: lightcoral;
 }

.dropdown-content a:hover{
  color: lightcoral;
}


.dropbtn{
  font-size: 20px;
}

.dropdown {
  display: inline-block;
  position: relative;
}


.dropdown .dropbtn {
  background: none;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  font-family: microsoft tai le;
  letter-spacing: 5px;
  padding: 10px;
  text-transform: uppercase;
  outline: none;
}

.dropdown-content {
  display: none;
  min-width: 100px;
  position: absolute;
  text-align: left;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  display: block;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@keyframes slide {
  0%{
    background-image: url('image/DA.jpg');
  }
  20%{
    background-image: url('image/DA.jpg');
  }
  20.01%{
    background-image: url('image/DA.jpg');
  }
  40%{
    background-image: url('image/DA.jpg');
  }
  40.01%{
    background-image: url('image/5\ nights\ \(1\).jpg');
  }
  60%{
    background-image: url('image/5\ nights\ \(1\).jpg');
  }
  60.01%{
    background-image: url('image/5\ nights\ \(1\).jpg');
  }
  80%{
    background-image: url('image/Installation\ Fusion.jpg');
  }
  80.01%{
    background-image: url('image/Installation\ Fusion.jpg');
  }
  100%{
    background-image: url('image/Installation\ Fusion.jpg');
  }
}

@media screen and (max-width: 900px) {
  .principle h1 {
    font-size: 40px;
  }
}