html{
  scroll-behavior: smooth;
}

body {
  background-color:whitesmoke  ;
  font-family: Microsoft Tai Le;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* NAVIGATION */

.mainheader {
  z-index: 9999!important;
}

#logoHome {
  letter-spacing: 5px;
  padding: 10px;
  display: block;
  position: relative;
}

.nameLogo {
  display: block;
  font-size: 28px;
  font-weight: 300;
  padding: 10px;
}

.topnav {
  background-color: whitesmoke;
  border: none;
  font-size: 12px;
  padding: 10px 0;
  display: inline-block;
  /* position: fixed; */
  width: 100%;
  text-align: center;
  z-index: 9999;
}

.topnav a {
  color: darkslategrey;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 6px;
  padding: 10px 20px;
}
.topnav a:hover, .dropdown .dropbtn:hover{
  color: lightcoral;
 }

.topnav .icon {
  display: none;
}

/* .dropdown {
  display: inline-block;
  position: relative;
}


.dropdown .dropbtn {
  background: none;
  border: none;
  color:darkslategrey;
  font-size: 16pt;
  font-family: microsoft tai le;
  letter-spacing: 6px;
  padding: 10px 30px 0 30px;
  text-transform: uppercase;
  outline: none;
}

.dropdown-content {
  display: none;
  min-width: 100px;
  position: absolute;
  text-align: left;
  z-index: 1;
}


.dropdown-content a {
  background-color: rgb( 255, 255, 255, 0.8);
  color: darkslategrey;
  display: block;
  padding: 10px;
  margin: 10px 0 0 20px;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
} */

.homecontent {
  background-color: whitesmoke;
  display: block;
  margin: auto;
  padding: 40px 0 10px 0;
  min-height: 100%;
}

.homeimage {
  background-color: whitesmoke;
  position: relative;
  display: block;
  width: 100%;
}

.homeimage img{
  display: block;
  height: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hometext {
  font-size: 12px;
  color: darkslategrey;
  text-align: center;
}

/* MAIN IMAGE CONTENT */
.content {
  background-color: whitesmoke;
  display: block;
  margin: auto;
  padding: 10px;
  min-height: 100%;
}

.digital-container {
  background-color: whitesmoke;
  position: relative;
  display: block;
  width: 100%;
  
}

.digital img{
  display: block;
  height: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}

p {
  font-size: 14px;
  margin: 5px 0;
  color: darkslategrey;
  font-weight: 300;
}

/* Next & prev buttons */
.prev, .next {
  cursor: pointer;
  padding: 15px;
  color: darkslategray;
  font-size: 30px;
  transition: 0.6s ease;
  user-select: none;
  z-index: 9;
  top: auto;
  /* border-radius: 100%; */
  display: inline-flex;
  width: 8px;
  height: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.next {float: right;}

.prev {float: left;}

/* .prev:hover, .next:hover {
  background-color: rgba(120,120,120,0.2);
} */

#okolash-link {
  text-decoration: none;
  color: black;
}

/* ABOUT */

.aboutcontent {
  background-color: whitesmoke;
  display: block;
  position: relative;
  margin:  20px auto;
  max-width: 500px;
  height: auto;
  text-align: center;
  padding: 20px;
  overflow: auto;
}

.abouttext {
 display: block;
 text-align: left;
 max-width: 600px;
 height: auto;
 overflow: auto;
 clear: left;
 padding: 10px;
}


/* Caption text */

.headtext {
  background-color: whitesmoke;
  color: whitesmoke;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 20px;
  font-weight: 300;
}

.sidetext {
  max-width: 600px;
  text-align: center;
  margin: auto;
  display: block;
  padding: 20px;
}

.slidenav {
  max-width: 800px;
  padding: 20px;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 10px 5px;
  background-color: lightgray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: darkslategray;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .2s;
  animation-name: fade;
  animation-duration: .2s;
}

.gotopbtn {
  position: fixed;
  bottom: 20px;
  right: 10px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  color: darkslategray;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

/* instagram */
#insta {
  font-size: 30px;
  color: darkslategrey;
}

#okolash-link {
  font-weight: bold;
}

/* FOOTER */
footer {
  clear: both;
  text-align: center;
  color: darkslategrey;
  font-weight: 200;
  font-size: 12px;
  padding: 5px 0;
}


/* NAVIGATION - RESPONSIVE RULES */

@media screen and (max-width: 900px){
.slidenav {width:auto;}
}
 
@media screen and (max-width: 730px) {
  #logoHome {
  display: block;
  float: left;
  }
  .headtext {color: darkslategrey;}
  .topnav a, .dropdown .dropbtn {display: none;}
  .topnav a.icon {
   /* float: right; */
   position: absolute;
   display: inline-grid;
   font-size: 30px;
   padding: 25px 10px;
   /* margin: 0; */
   top: 0;
   right: 20px;
  }
}
 
@media screen and (max-width: 730px){
  .body{overflow: auto !important;}
}
 
@media screen and (max-width: 730px) {
  .topnav.responsive {
  display: contents;
  position: fixed;
  } 
  .topnav.responsive {
   /* position: relative; */
   /* padding: 20px; */
   display: inline-grid;
   width: 100%;
  }
  .topnav.responsive .icon {
   position: absolute;
   display: inline-grid;
   right: 20px;
   top: 0;
   padding: 25px 10px;
  }
  .topnav.responsive a {
   float: none;
   display: inline-grid;
   display: block;
   text-align: center;
   padding: 20px auto;
  }
  .topnav.responsive .dropdown {display: inline;}
  .topnav.responsive .dropdown-content {position:relative;}
  .topnav.responsive .dropdown-content a{
   padding: 10px 0 0 30px;
   margin: 0 0 5px 0;
  }
  .topnav.responsive .dropdown .dropbtn {
   display: block;
   text-align: left;
   padding: 10px 20px;
  }
}