html{
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color:white;
  font-family: Microsoft Tai Le;
  margin: 0;
}


/* NAVIGATION */

.mainheader {
  padding: 0;
  z-index: 9999!important;
}

#logoHome {
  display: block;
  float: left;
}

.nameLogo {
  display: inline;
  font-size: 30px;
  font-weight:bolder;
  clear: left;
}

.topnav {
  background-color: white;
  border: none;
  font-size: 16pt;
  padding: 15px;
  margin: 0;
  display: inline-block;
  position: fixed;
  width: 98%;
  top: 0;
  z-index: 99999;
  text-align: right;
}

.topnav a {
  color: darkslategrey;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 6px;
  padding: 10px 20px;
}
.topnav a:hover, .dropdown .dropbtn:hover{
  color: lightcoral;
 }

.topnav .icon {
  display: none;
}

.dropdown {
  display: inline-block;
  position: relative;
}


.dropdown .dropbtn {
  background: none;
  border: none;
  color:darkslategrey;
  font-size: 16pt;
  font-family: microsoft tai le;
  letter-spacing: 6px;
  padding: 10px 30px 0 30px;
  text-transform: uppercase;
}

.dropdown-content {
  display: none;
  min-width: 100px;
  position: absolute;
  text-align: left;
  z-index: 1;
}


.dropdown-content a {
  color: darkslategrey;
  display: block;
  padding: 10px;
  margin: 10px 0 0 20px;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.swiper-slide {

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* MAIN IMAGE CONTENT */

.digital-container {
  position: relative;
  display: block;
  width: 100%;
  
}

.digital img{
  display: block;
  height: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Next & prev buttons */
.prev, .next {
  cursor: pointer;
  padding: 16px;
  color: gray;
  /* font-weight: bold; */
  font-size: 30px;
  transition: 0.6s ease;
  user-select: none;
  z-index: 1;
  position: absolute;
  top: 300px;
  border-radius: 100%;
  display: inline-flex;
  width: 8px;
  height: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.next {
  left: 80%;
}

.prev {
  left: 18%;
}

.prev:hover, .next:hover {
  background-color: rgba(120,120,120,0.2);
}

.content {
  background-color: white;
  display: block;
  margin: 80px auto;
  padding: 10px;
}

/* ABOUT */

.aboutcontent {
  background-color: white;
  display: block;
  position: relative;
  margin:  80px auto;
  max-width: 600px;
  text-align: center;
  padding: 30px;
}

.aboutname img .profile img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.abouttext {
 display: inline-block;
 text-align: left;
}


/* Caption text */

.headtext {
  text-align: left;
  text-transform: uppercase;
  font-size: 20pt;
}

.text {
  bottom: 5px;
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 10px 12px 10px;
  position: absolute;
  text-align: center;
  width: auto;
  right: 20%;
  left: 20%;
}


.sidetext {
  max-width: 600px;
  text-align: left;
  padding: 20px 0px;
  margin: auto;
  display: block;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 10px 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .2s;
  animation-name: fade;
  animation-duration: .2s;
}

.gotopbtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255, 0.3);
  color: darkslategray;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

/* FOOTER */
footer {
  clear: both;
  text-align: center;
}


/* NAVIGATION - RESPONSIVE RULES */

/* @media screen and (max-width: 900px){ */
  .prev, .next {
    position: absolute;
    display: inline-flex;
    font-size: 25px;
    padding: 12px;
    width: 8px;
    height: 8px;
    top: 280px;
    border-radius: 100%
   }
   .prev {left: 3%;} 
   .next {left: 93%;}

   .prev:hover, .next:hover {
    background-color: rgba(120,120,120,0.3);
   }
}
 
@media screen and (max-width: 730px) {
   .topnav a, .dropdown .dropbtn {display: none;}
   .topnav a.icon {
     /* float: right; */
     position: absolute;
     display: inline-grid;
     font-size: 40px;
     padding: 20px;
     /* margin: 0; */
     top: 0;
     right: 40px;
   }
}
 
@media screen and (max-width: 730px){
   .body{overflow: auto !important;}
}
 
@media screen and (max-width: 730px) {
   .topnav.responsive .nameLogo {
   display: contents;
   float: left; 
  } 
   .topnav.responsive {
     /* position: relative; */
     /* padding: 20px; */
     display: inline-grid;
     width: 98%;
   }
   .topnav.responsive .icon {
     position: absolute;
     display: inline-grid;
     right: 40px;
     top: 0;
     padding: 20px;
   }
   .topnav.responsive a {
     float: none;
     display: inline-grid;
     display: block;
     text-align: left;
   }
   .topnav.responsive .dropdown {
     display: inline;
     /* padding: 10px 0 10px 0; */
   }
   .topnav.responsive .dropdown-content {
     position:relative;
   }
   .topnav.responsive .dropdown-content a{
     padding: 10px 0 0 30px;
     margin: 0 0 5px 0;
   }
   .topnav.responsive .dropdown .dropbtn {
     display: block;
     text-align: left;
     padding: 10px 20px;
  }
}
 
 
