body {
  background-color: #f0f0f0;
  font-family: Microsoft Tai Le;
  margin: 0;
}


/* NAVIGATION */

.mainheader {
  padding: 0;
  text-align: right;
  z-index: 9999!important;
}

.nameLogo {
  display: inline;
  font-size: 25pt;
  font-weight:bolder;
  float: left;
}

.topnav {
  background-color: #deeaee;
  border: none;
  width: auto;
  font-size: 16pt;
  padding: 25px ;
  margin-top: 0;
}

.topnav a {
  color: darkslategrey;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 6px;
  padding: 10px 30px 0 30px;
  
}
.topnav a:hover, .dropdown .dropbtn:hover{
  color: lightcoral;
  font-weight: bold;
 }

.topnav .icon {
  display: none;
}

.dropdown {
  display: inline-block;
  position: relative;
}


.dropdown .dropbtn {
  background: none;
  border: none;
  color:darkslategrey;
  font-size: 16pt;
  font-family: microsoft tai le;
  letter-spacing: 6px;
  padding: 10px 30px 0 30px;
  text-transform: uppercase;
}

.dropdown-content {
  display: none;
  background-color: none;
  min-width: 100px;
  position: absolute;
  text-align: left;
  z-index: 1;
}


.dropdown-content a {
  color: black;
  display: block;
  padding: 10px;
  margin: 30px 0 0 20px;
  text-decoration: none;
  
}

.dropdown-content a:hover {
  background-color: rgb(240, 240, 240, 0.7);
  font-weight: bold;
}

.dropdown:hover .dropdown-content {
  display: block;
}



/* MAIN IMAGE CONTENT */

.digital-container {
  position: relative;
  display: inline-block;
  width: 100%;
  
}

.digital img{
  border: 1px solid white;
  box-shadow: gray 0 0 10px;
  display: block;
  height: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Next & prev buttons */
.prev, .next {
  cursor: pointer;
  padding: 16px;
  color: gray;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  user-select: none;
  z-index: 1;
  position: absolute;
  top: 300px;
  border-radius: 100%;
  display: inline-flex;
  width: 8px;
  height: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.next {
  left: 90%;
 

}

.prev {
  left: 6%;
 
}

.prev:hover, .next:hover {
  background-color: rgba(120,120,120,0.3);
}

.content {
  background-color: white;
  margin: auto;
  padding: 10px;
  max-width: 1200px;
}

.contactcontent {
  background-color: white;
  margin: auto;
  text-align: center;
  padding: 30px;
  max-width: 600px;
}



/* ABOUT */

.aboutcontent {
  background-color: white;
  margin: auto;
  text-align: center;
  padding: 30px;
  max-width: 600px;
}

.aboutname img .profile img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}


/* Caption text */

.headtext {
  text-align: center;
  text-transform: uppercase;
  font-size: 20pt;
}

.text {
  bottom: 5px;
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 10px 12px 10px;
  position: absolute;
  text-align: center;
  width: auto;
  right: 20%;
  left: 20%;
}


.sidetext {
  max-width: 950px;
  text-align: center;
  padding: 20px 0px 20px 0px;
  margin: auto;
  display: block;
 
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 10px 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .2s;
  animation-name: fade;
  animation-duration: .2s;
}


/* FOOTER */
footer {
  bottom: 0;
  clear: both;
  color: black;
  margin: 0%;
  padding: 30px 0 0 30px;
  text-align: center;
  
}


@-webkit-keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}

/* NAVIGATION - RESPONSIVE RULES */

@media screen and (max-width: 1024px){
  .prev, .next {
    position: absolute;
    display: inline-flex;
    font-size: 25px;
    padding: 12px;
    width: 8px;
    height: 8px;
    top: 280px;
    border-radius: 100%
    user-select: none;
    z-index: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
   }
   .prev {left: 3%;} 
   .next {left: 93%;}

   .prev:hover, .next:hover {
    background-color: rgba(120,120,120,0.3);
   }
 }
 
 @media screen and (max-width: 1022px) {
   .topnav a, .dropdown .dropbtn {display: none;}
   .topnav a.icon {
     float: right;
     display: block;
     font-size: 28pt;
     padding: 0 5px 0 0;
     margin: 0;
   }
 }
 
 @media screen and (max-width: 1002px){
   .body{overflow: auto !important;}
 }
 
 @media screen and (max-width: 1002px) {
   .topnav.responsive .nameLogo {
   display: contents;
   float: left; 
   } 
   .topnav.responsive {
     position: relative;
     padding: 20px 0 20px 10px;
   }
   .topnav.responsive .icon {
     position: absolute;
     right: 10px;
     top: 20px;
     padding: 5px 20px 0 0;
   }
   .topnav.responsive a {
     float: none;
     display: block;
     text-align: left;
   }
   .topnav.responsive .dropdown {
     display: inline;
     padding: 10px 0 10px 0;
   }
   .topnav.responsive .dropdown-content {
     position:relative;
   }
   .topnav.responsive .dropdown-content a{
     padding: 10px 0 0 30px;
     margin: 0 0 5px 0;
   }
   .topnav.responsive .dropdown .dropbtn {
     display: block;
     text-align: left;
     padding: 10px 0 0 30px;
   }
 }
 
 
 @media screen and (max-width: 930px) {
   .prev, .next {top: 270px;}
   .prev {left: 2%;}
   .next {left: 95%;}
 }
  @media screen and (max-width: 830px) {
   .prev, .next {top: 230px;}
   .prev {left: 2%;}
   .next {left: 94%;}
 }
 @media screen and (max-width: 768px) {
   .prev, .next {top: 200px;}
   .prev {left: 1%;}
   .next {left: 95%;}
 }
 
 @media screen and (max-width: 650px) {
   .prev, .next {top: 180px;}
   .prev {left: 1%;}
   .next {left: 93%;}
 }
 @media screen and (max-width: 550px) {
   .prev, .next {top: 150px;}
   .prev {left: 1%;}
   .next {left: 93%;}
 }
 @media screen and (max-width: 414px) {
   .prev, .next {top: 100px;}
   .prev {left: 1%;}
   .next {left: 90%;}
 }
 @media screen and (max-width: 375px) {
   .prev, .next {top: 90px;}
   .prev {left: 1%;}
   .next {left: 90%;}
 }
 @media screen and (max-width: 320px) {
   .prev, .next {top: 75px}
   .prev {left: 0%;}
   .next {left: 90%;}
 }